{% load static %}
<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="author" content="Untree.co">
  <link rel="shortcut icon" href="images/favicon.png">
		<!-- Bootstrap CSS -->
		<link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
		<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
		<link href="{% static 'css/tiny-slider.css' %}" rel="stylesheet">
		<link href="{% static 'css/style.css' %}" rel="stylesheet">
		<link rel="stylesheet" href="{% static 'css/swiper-bundle.min.css' %}">
		<title>AutoAdvise | Hybrid</title>
	</head>

	<body>

		<!-- Start Header/Navigation -->
		<nav class="custom-navbar navbar navbar navbar-expand-md navbar-dark bg-dark" arial-label="Furni navigation bar">

			<div class="container">
				<a class="navbar-brand" href="{% url 'home' %}">AutoAdvise<span>.</span></a>

				<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsFurni" aria-controls="navbarsFurni" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>

				<div class="collapse navbar-collapse" id="navbarsFurni">
					<ul class="custom-navbar-nav navbar-nav ms-auto mb-2 mb-md-0">
						<li><a class="nav-link" href="{% url 'home' %}">Home</a></li>
						<!-- <li><a class="nav-link" href="#">Collab</a></li> -->
						<li>
							<a class="nav-link" href="{% url 'content' 0 %}">Search</a>
						</li>
						<li class="nav-item active"><a class="nav-link" href="{% url 'hybrid1' %}">AI</a></li>
						<li><a class="nav-link" href="{% url 'support' %}">Support</a></li>
					</ul>

				</div>
			</div>
				
		</nav>
		<!-- End Header/Navigation -->

		<!-- Start Hero Section -->
			<div class="hero">
				<div class="container">
					<div class="row justify-content-between">
						<div class="col-lg-5">
							<div class="card">
								<form action="{% url 'hybrid1' %}" method="post" style="background-color: #3b5d50;">
									{% csrf_token %}
									<label class="input-allign-label">Fuel Type</label><br>
									<select id="fuel" name="fuel" class="input-allign">
										<option value="Any">Any</option>
										<option value="petrol">Petrol</option>
										<option value="diesel">Diesel</option>
										<option value="CNG">CNG</option>
										<option value="EV">EV</option>
										<option value="hybrid">Hybrid(Petrol + EV)</option>
									</select>
									<br>
									<label class="input-allign-label">Price</label><br>
									<input type="text" id="price" name="price" placeholder="Price upto*"  class="input-allign">
									<br>
									<label class="input-allign-label">Car Type</label><br>
									<select id="type" name="type" class="input-allign">
										<option value="Any">Any</option>
										<option value="HatchBack">Hatchback</option>
										<option value="Sedan">Sedan</option>
										<option value="SUV">SUV</option>
										<option value="MPV">MPV</option>
										<option value="Microvan">Microvan</option>
									</select>
									<br>
									<label class="input-allign-label">Seater</label><br>
									<select id="seat" name="seat" class="input-allign">
										<option value="0">Any</option>
										<option value="4">4</option>
										<option value="5">5</option>
										<option value="6">6</option>
										<option value="7">7</option>
										<option value="9">9</option>
									</select>
									<br>
									<label class="input-allign-label">Safety Rating</label><br>
									<input type="text" id="ncap_rating" name="ncap_rating" placeholder="rating upto 5"  class="input-allign">
									<br>
									<br>
									<input type="submit" value="Search" class="btn btn-secondary-form">
								  </form>
							  </div>
						</div>
						<div class="col-lg-7">
							<div class="hero-img-wrap">
								<img src="{% static 'images/jeep.png' %}" class="img-fluid">
							</div>
						</div>
					</div>
				</div>
			</div>
		<!-- End Hero Section -->

		<!-- Start Testimonial Slider -->
		
		<!-- End Testimonial Slider -->
		

		<!-- Start Footer Section -->
		<footer class="footer-section">
			<div class="container relative">
				
				<div class="row g-5 mb-5">
					<div class="">
						<div class="mb-4 footer-logo-wrap"><a href="#" class="footer-logo">AutoAdvise<span>.</span></a></div>
						<p class="mb-4">To address the presented challenge, our objective is to develop a sophisticated recommendation model. By leveraging advanced machine learning techniques, we aim to provide tailored suggestions, enhancing user experience and engagement. Our focus is on creating a robust and efficient solution to meet the unique requirements of the problem at hand.</p>

					</div>
			</div>
		</footer>
		<!-- End Footer Section -->	
		<script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
		<script src="{% static 'js/tiny-slider.js' %}"></script>
		<script src="{% static 'js/custom.js' %}"></script>
		<script src="{% static 'js/script.js' %}"></script>
		<script src="{% static 'js/swiper-bundle.min.js' %}"></script>

		
	</body>
	
</html>
