<!-- Start Testimonial Slider -->
<div class="testimonial-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-7 mx-auto text">
                <h2 style="color: #2f2f2f; margin-left: -200px;">Search By Price</h2>
                <form action="" style="margin-left: -230px;">
                    <select id="seat" name="seat" class="input-allign">
                        <option value="0">Select Price</option>
                        <option value="6">6</option>
                        <option value="8">8</option>
                        <option value="10">10</option>
                        <option value="15">15</option>
                        <option value="20">5</option>
                        <option value="25">25</option>
                    </select>
                    <input type="submit" value="Submit" class="button1">
                </form>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-12">
                <div class="testimonial-slider-wrap text-center">

                    <div id="testimonial-nav">
                        <span class="prev" data-controls="prev"><span class="fa fa-chevron-left"></span></span>
                        <span class="next" data-controls="next"><span class="fa fa-chevron-right"></span></span>
                    </div>

                    <div class="testimonial-slider">
                        <!-- start items -->
                        <div class="item">
                            <p>
                                <img src="{% static 'images/thar.png' %}" alt="popular car" class="img2" align="left" width="600" height="450" style="margin-left: 100px; margin-right: 100px;">
                                <p><br></p>
                                <div class="content-align">
                                    <h1 style="margin-bottom: 20px;">Mahindra Thar</h1>
                                    <h2>Rs. 13.36 - 21.00 Lakh</h2>
                                    <h3>13.00 - 15.20 kmpl</h3>
                                    <h3>1497cc & 2184cc </h3>
                                    <h3>4 Seater</h3>
                                </div>
                                <!-- <p><br></p> -->
                            </p>
                        </div>
                         
                        <!-- END item -->

                        <div class="item">
                            <p>
                                <img src="{% static 'images/fronx.pn' %}g" alt="popular car" class="img2" align="left" width="600" height="450" style="margin-left: 100px; margin-right: 100px;">
                                <p><br></p>
                                <div class="content-align">
                                    <h1 style="margin-bottom: 20px;">Maruti Fronx</h1>
                                    <h2>Rs. 8.60 - 15.10 Lakh</h2>
                                    <h3>20.01 - 28.51 kmpl</h3>
                                    <h3>1197cc & 998cc </h3>
                                    <h3>5 Seater</h3>
                                </div>
                                <!-- <p><br></p> -->
                            </p>
                        </div> 
                        <!-- END item -->

                        <!-- start items -->
                        <div class="item">
                            <p>
                                <img src="{% static 'images/exter.pn' %}g" alt="popular car" class="img2" align="left" width="600" height="450" style="margin-left: 100px; margin-right: 100px;">
                                <p><br></p>
                                <div class="content-align">
                                    <h1 style="margin-bottom: 20px;">Hyundai Exter</h1>
                                    <h2>Rs. 7.05 - 12.02 Lakh</h2>
                                    <h3>19.20 - 27.10 kmpl</h3>
                                    <h3>1197cc </h3>
                                    <h3>5 Seater</h3>
                                </div>
                                <!-- <p><br></p> -->
                            </p>
                        </div>
                         
                        <!-- END item -->
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Testimonial Slider -->
<br><br><br>